body {
    background-color: #eee;
    color: #555;
    font-family: Avenir, Verdana, Tahoma, Arial, sans-serif;
    font-weight: 500;
}

img {
    border: 0;
}

/**
 * Code
 */
pre {
    background-color: #F9F9F9;
    color: #333;
    border: 1px solid #EEE;
    line-height: 1.1;
    overflow: auto;
    padding: 6px 4px 4px 6px;
}

code {
    color: #007A00;
    font-family: Consolas, Lucida Console, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 13px;
}

pre code {
    color: #333;
}

a {
    color: #34f;
    text-decoration: none;
    border-bottom: 1px solid #89f;
}

/**
 * Headings
 */
h1, h2, h3 {
    color: #222;
    font-weight: normal;
    letter-spacing: -0.05em;
}

h1 {
    font-size: 3em;
    line-height: 1.05;
    margin: 0.256em 0;
}

h2 {
    font-size: 2em;
    line-height: 1.15;
    margin: 0.577em 0;
}

#content {
    margin: 0 auto;
    width: 50em;
}

.vcard {
    margin-top: 175px;
    position: relative;
    padding-left: 220px;
}

.vcard .photo {
    position: absolute;
    left: 0;
}

.contacts {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vcard .contacts li {
    width: 32px;
    height: 32px;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    list-style-type: none;
}

.vcard .contacts li a {
    display: block;
    height: 100%;
    font-size: 0;
    background-position: top left;
    background-repeat: no-repeat;
}

.vcard .email {
    background-image: url(../images/gmail.svg);
}

.vcard .linkedin {
    background-image: url(../images/linkedin.svg);
}

.vcard .github {
    background-image: url(../images/github.svg);
}

.vcard .twitter {
    background-image: url(../images/twitter.svg);
}
